<div class="row">
  <div class="col">
    <h4>Countries</h4>
    <div class="list-group" *ngIf="!countriesFetching; else loading">
      <a
        *ngFor="let country of countries;"
        class="list-group-item list-group-item-action"
        [routerLink]="['/countries', country.id]"
      >
        {{ country.name }}
      </a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
<!--    <app-country></app-country>-->
  </div>
</div>
