<div class="row mt-2">
  <div class="col">
    <h4>Country details</h4>
    <h5>{{ country.name }}</h5>
    <img [src]="country.flag" alt="{{ country.name }}" class="img-fluid"/>
    <p>Capital: <span>{{ country.capital }}</span></p>
  </div>
</div>
